@use '../variables' as v;
@use '../typography' as t;

.generator {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 48rem) {
    width: 33.75rem;
  }
}

.generator__header {
  @include t.text-preset-4;
  color: v.$grey-600;
  text-align: center;
}

.generator__panel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.generator__output {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: v.$grey-800;

  output {
    @include t.text-preset-2;
    color: v.$grey-700;
  }
}

.generator__output--active output {
  color: v.$grey-200;
}

.generator__copy {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.generator__copy-notification {
  color: v.$green-200;
  @include t.text-preset-4;
  text-transform: uppercase;

  @media (min-width: 48rem) {
    @include t.text-preset-3;
  }
}

.generator__copy-button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: v.$green-200;
}

.generator__copy-button:active {
  color: v.$white;
}

.generator__form {
  background-color: v.$grey-800;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.generator__length {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.generator__character-label {
  @include t.text-preset-4;
  color: v.$grey-200;
}

.generator__character-length {
  @include t.text-preset-2;
  color: v.$green-200;
}

.generator__length-wrapper {
  padding: 10px 0;
  flex-basis: 100%;
}

.generator__length-input {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  display: block;
}

.generator__length-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 28px;
  height: 28px;
  background-color: v.$grey-200;
  border-radius: 50%;
  margin-top: -10px;
  cursor: pointer;
}

.generator__length-input::-webkit-slider-thumb:active {
  background-color: v.$grey-850;
  border: 2px solid #a4ffaf;
}

.generator__length-input::-moz-range-thumb {
  width: 28px;
  height: 28px;
  background-color: v.$grey-200;
  border-radius: 50%;
}

.generator__length-input::-moz-range-thumb:hover {
  cursor: pointer;
}

.generator__length-input::-moz-range-thumb:active {
  background-color: v.$grey-850;
  border: 2px solid #a4ffaf;
}

.generator__length-input::-webkit-slider-runnable-track {
  height: 8px;
  background: linear-gradient(
    to right,
    v.$green-200 var(--progress),
    v.$grey-850 var(--progress)
  );
}

.generator__length-input::-moz-range-track {
  height: 8px;
  background-color: v.$grey-850;
}

.generator__length-input::-moz-range-progress {
  height: 8px;
  background-color: v.$green-200;
}

.generator__controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  div {
    display: flex;
    align-items: center;
    gap: 1rem;

    input[type='checkbox'] {
      width: 20px;
      height: 20px;
      appearance: none;
      background-color: transparent;
      border: 2px solid v.$grey-200;
      cursor: pointer;
    }

    input[type='checkbox']:hover {
      border-color: v.$green-200;
    }

    input[type='checkbox']:checked {
      background-color: v.$green-200;
      background-image: url(../../assets/images/icon-check.svg);
      background-repeat: no-repeat;
      background-position: center;
      border: none;
    }

    label {
      @include t.text-preset-4;
      color: v.$grey-200;
    }
  }
}

.generator__strength-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.generator__strength {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.875rem 1rem;
  background-color: v.$grey-850;

  p {
    @include t.text-preset-4;
    color: v.$grey-600;
    text-transform: uppercase;
  }
}

.generator__strength-bars {
  display: flex;
  gap: 0.5rem;

  div {
    width: 10px;
    height: 28px;
    border: 2px solid v.$grey-200;
  }
}

.generator__strength-bar--filled {
  background-color: v.$yellow-300;
  border: none;
}

.generator__button {
  @include t.text-preset-4;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: v.$grey-800;
  padding: 1rem 0;
  background-color: v.$green-200;
  text-transform: uppercase;
  border: none;
  font-family: inherit;
  cursor: pointer;

  @media (min-width: 48rem) {
    @include t.text-preset-3;
  }
}

.generator__button:active {
  color: v.$green-200;
  background-color: transparent;
  border: 2px solid v.$green-200;
}
