@use './variables' as v;

@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/static/JetBrainsMono-Bold.woff2') format('woff2');
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
p,
input {
  margin: 0;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  display: block;
}

body {
  background: linear-gradient(to right, v.$grey-900, v.$grey-950);
  padding: 0 1rem;
  font-family: 'JetBrains Mono';
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
