@use './variables' as v;

@mixin text-preset-1 {
  font-size: v.$text-1-size;
  line-height: v.$text-1-line-height;
}

@mixin text-preset-2 {
  font-size: v.$text-2-size;
  line-height: v.$text-2-line-height;
}

@mixin text-preset-3 {
  font-size: v.$text-3-size;
  line-height: v.$text-3-line-height;
}

@mixin text-preset-4 {
  font-size: v.$text-4-size;
  line-height: v.$text-4-line-height;
}
