$white: #ffffff;
$black: #000000;
$grey-200: #e6e5ea;
$grey-600: #817d92;
$grey-700: #54535b;
$grey-800: #24232c;
$grey-850: #18171f;
$grey-900: #14131b;
$grey-950: #08070b;
$yellow-300: #f8cd65;
$orange-400: #fb7c58;
$red-500: #f64a4a;
$green-200: #a4ffaf;
